# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Database
# =========================
database/db.sqlite3

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log