Flask
Flask-Login
Flask-SQLAlchemy
Werkzeug
Jinja2
itsdangerous
click
blinker

requests
httpx
httpcore
anyio
sniffio
h11

SQLAlchemy
greenlet

pydantic
pydantic_core
typing_extensions
typing-inspection

python-dotenv
tqdm

pillow
lxml
python-docx
reportlab

certifi
charset-normalizer
idna
urllib3
